body{
	font-family: Lato,"Microsoft YaHei",sans-serif;
}
*{
	box-sizing: border-box;
}
h1{
	text-shadow: 2px 3px #000000;
	font-size: 3.5em;
}
h4{
	font-size: 1.25em;
	margin: 0 0 0.1em 0;
}
p{
	color: #cccccc;
	font-size: 1.1em;
}
a{
	color:#76EEC6;
	text-decoration: none;
	transition: all 0.5s;
}
a:hover{
	color:#9f3;
}
.pp-tooltip{
	font-weight: 500;
}

/*main page*/
.center{
	text-align: center;
}
.section{
	color:white;
}
#avatar{
	width: 200px;
	height: 200px;
	border: 10px solid #22c3aa;
	border-radius: 100px;
}
#title{
	margin: 0.25em 0 0 0;
}
#subtitle{
	margin: 1em 0 0.25em 0;
	color: #aee2d9;
}

/*background pape*/
.background-content{
	display: flex;
	max-width: 743px;
	margin: auto;
}
.background-item{
	flex: 1;
}
.item-1 h4{
	color: #FFCC00;
}
/*.item-1 h3{
	color:#FFCC00;
}*/
.item-2 h4{
	color: #CC0033;
}
/*.item-2 h3{
	color: #CC0033;
}*/


/*projects page*/
.project-container{
	display: flex;
	margin: auto;
	width: 832px
}
.project-item{
	flex: 1;
}
.content-container{
	text-align:left;
	border: 4px solid #cccccc;
	border-radius: 10px;
	width: 85%;
	margin: auto;
	line-height: 31px;
	min-height: 250px;
	padding: 10px;
	font-weight: 600;
	color: #731c1c;
}

